p {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  text-overflow: ellipsis;
}

.App {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

/* .backgroundised {
  filter: blur(2px) brightness(50%);
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background {
  background-color: lightblue;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash {
  width: 100%;
  height: 100vh;
  border-bottom: 5px solid black;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 1;
}

.title {
  color: #61dafb;
}

.header {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 25% 68% 7%;
}

.titles {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
}

.viewMyWork {
  display: table;
  grid-row: 3;
  grid-column: 1;
  background-color: crimson;
  border: 1px solid black;
  margin: auto;
  padding-left: 3px;
  padding-right: 3px;
  color: white;
  font-family: Georgia, Helvetica, sans-serif;
  align-self: center;
}

h3 {
  margin-left: 5px;
  margin-right: 5px;
}

.about {
  text-align: left;
}

.box {
  /* background-color: steelblue; */
  background-color: grey;
  height: auto;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.smallBox {
  background-color: grey;
  width: 100px;
  height: 100px;
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.singleBox {
  position: relative;
  top: 0;

  background-color: grey;
  width: 85%;
  margin: auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectInfo > p {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .trAleBox {
    display: grid;
    grid-template-rows: max-content min-content;
    grid-template-columns: auto auto;
  }
  .trAleBox > .projectInfo {
    grid-column: 2;
    grid-row: 1;
  }
  /* .trAleBox > p {
    grid-column: 2;
    grid-row: 2;
  } */
  .trAleBox > .ImageViewer {
    grid-column: 1;
    grid-row: 1/3;
  }
}

.icon {
  height: 50px;
  width: 50px;
}

.icon2 {
  height: 30px;
  width: 30px;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .boxes {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    width: 86%;
  }
  .box {
    width: 42%;
  }
}
@media only screen and (max-width: 767px) {
  .boxes {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
  }
  .box {
    width: 90%;
  }
}

.projectImage {
  height: auto;
  width: auto;
  max-width: 90%;
  grid-column: 2;
  grid-row: 1;
  margin: auto;
}

.main {
  grid-template-columns: 10% 80% 10%;
}

.about {
  margin-left: 7%;
  margin-right: 7%;
}

.break {
  height: 0;
  flex-basis: 100%;
}

.leftArrow {
  height: 30px;
  width: 30px;
  padding: 10px;
  transform: rotate(270deg);
  grid-column: 1;
  grid-row: 1;
}

.rightArrow {
  height: 30px;
  width: 30px;
  padding: 10px;
  transform: rotate(90deg);
  grid-column: 3;
  grid-row: 1;
}

.obsoleteIcon {
  visibility: hidden;
}

.ImageViewer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100%;
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  width: auto;
  height: auto;
  align-items: center;
  justify-items: center;
}

.cardImg {
  max-width: 95%;
  max-height: 400px;
}

.cardFlex {
  display: flex;
  justify-content: space-around;
}

.cardFlex > h4 {
  margin-top: auto;
  margin-bottom: auto -1px;
}

.App-link {
  color: #61dafb;
  transition: transform 0.75s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.6);
}
