html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.myLink {
  cursor: pointer;
}

p {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  text-overflow: ellipsis;
}

.App {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

/* .backgroundised {
  filter: blur(2px) brightness(50%);
} */

.background {
  background-color: lightblue;
  width: 100%;
}

.title {
  color: #61dafb;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: -webkit-fill-available;
  display: grid;
  border-bottom: 5px solid black;
  background-position: center;
}

.titles {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
}

.chevron {
  grid-row: 3;
  transform: rotate(180deg);
  margin: auto;
  padding: 0px;
}

h3 {
  margin-left: 5px;
  margin-right: 5px;
}

.about {
  text-align: left;
}

.box {
  background-color: grey;
  height: auto;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.builtWith {
  font-size: small;
  font-weight: bold;
}

.smallBoxes {
  display: flex;
  justify-content: space-around;
}

.smallBox {
  background-color: grey;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.singleBox {
  background-color: grey;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trAleBox {
  background-color: grey;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectInfo > p {
  text-align: left;
}

.icon {
  height: 50px;
  width: 50px;
}

.icon2 {
  height: 30px;
  width: 30px;
  margin: 10px;
}

/* for desktop */
@media only screen and (min-width: 768px) {
  .boxes {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    width: 86%;
  }
  .box {
    width: 42%;
  }
  .trAleBox {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
  }
  .trAleBox > .projectInfo {
    grid-column: 2;
    grid-row: 2;
  }
  .trAleBox > .bigProjectTitle {
    grid-column: 1;
    grid-row: 1;
  }
  .trAleBox > .ImageViewer {
    grid-column: 1;
    grid-row: 2;
    margin-left: 7px;
  }
  .header {
    grid-template-rows: 25% 67% 8%;
    background-image: url('./img/humberBridgeLarge.jpg');
  }
  .singleBox {
    width: 85%;
  }
  .trAleBox {
    width: 85%;
  }
  .projectImage {
    grid-column: 2;
  }
  .singleBox > .ImageViewer > .leftArrow {
    width: 40%;
    height: 40%;
  }
  .singleBox > .ImageViewer > .rightArrow {
    width: 40%;
    height: 40%;
  }
  .trAleBox > .ImageViewer > .leftArrow {
    width: 65%;
    height: 65%;
  }
  .trAleBox > .ImageViewer > .rightArrow {
    width: 65%;
    height: 65%;
  }
  .trAleBox > .ImageViewer > .projectImage {
    max-height: 100%;
    max-width: 100%;
  }
  .singleBox > .ImageViewer {
    max-width: 100%;
  }
  .singleBox > .ImageViewer > .projectImage {
    width: 100%;
  }
}

/* for mobile */
@media only screen and (max-width: 767px) {
  .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 90%;
  }
  .header {
    grid-template-rows: 25% 45% 30%;
    background-image: url('./img/humberBridgeMedium.jpg');
  }
  .singleBox {
    width: 95%;
  }
  .trAleBox {
    width: 95%;
  }
  .singleBox > .ImageViewer > .rightArrow {
    width: 100%;
    height: 100%;
  }
  .singleBox > .ImageViewer > .leftArrow {
    width: 100%;
    height: 100%;
  }
  .projectImage {
    grid-column: 1/4;
  }
  .trAleBox > .ImageViewer > .projectImage {
    grid-column: 2;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .singleBox > .ImageViewer > .projectImage {
    max-width: 100%;
  }
}
.trAleBox > .ImageViewer {
  height: 580px;
}

.projectImage {
  grid-row: 1;
  margin: 0;
}

.about {
  margin-left: 7%;
  margin-right: 7%;
}

.break {
  height: 0;
  flex-basis: 100%;
}

.leftArrow {
  max-height: 15%;
  max-width: 75%;
  transform: rotate(180deg);
  grid-column: 1;
  grid-row: 1;
}

.rightArrow {
  max-height: 15%;
  max-width: 75%;
  grid-column: 3;
  grid-row: 1;
}

.obsoleteIcon {
  visibility: hidden;
}

.ImageViewer {
  grid-template-columns: auto 75% auto;
  display: grid;
  grid-template-rows: 100%;
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.cardImg {
  max-width: 95%;
  max-height: 400px;
}

.cardFlex {
  display: flex;
  justify-content: space-around;
}

.cardFlex > h4 {
  margin-top: auto;
  margin-bottom: auto -1px;
}

.loading {
  height: webkit-fill-available;
  min-height: 100vh;
  min-width: 100vw;
  width: webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.imageLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.websiteInfo {
  text-align: left;
  margin-top: 30px;
}
